.border-gradient {
  border : 1.5px solid linear-gradient(90deg, #EF490F 0%, #DA0909 100%)
}

.font-shojumaru {
  font-family: 'Shojumaru', cursive;
}

.heading{
  font-family: 'ZCOOL KuaiLe', cursive;
  color : '#FFFFFF'
}

.gradient {
  background: linear-gradient(90deg, #ED0137 0%, #F05733 100%);
}

.background_gradient {
  background: linear-gradient(90deg, #030405 0%, #120101 100%);
}

